.slide-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
  
.slide-up.visible {
opacity: 1;
transform: translateY(0);
}
.slide-left, .slide-left-bounce {
  opacity: 0;
  transform: translateX(-30px); /* Start position from the left */
  transition: opacity 1.6s ease-out, transform 1.6s ease-out;
}

.slide-left.visible {
  opacity: 1;
  transform: translateX(0); /* End position */
}
.slide-left-bounce.visible {
  opacity: 1;
  transform: translateX(0);
  animation: bounce 0.5s ease-out 0.1s; 
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-10px); /* Small bounce left */
  }
  60% {
    transform: translateX(5px); /* Small bounce right */
  }
}